{% extends "EdeliSiteBundle::layout.html.twig" %}

{% block title %}
Contact - {{ parent() }}
{% endblock %}

{% block EdeliBody %}
<div class="container">  
      
        <div class="page-header">  
            <h1>Contactez-nous</h1>  
        </div>  
<?php  
   
  
?>  
        <form method="POST" action="contact-form-submission.php" class="form-horizontal">  
            <div class="control-group">  
                <label class="control-label" for="input1"></label>  
                <div class="controls">  
                    <input type="text" name="contact_name" id="input1" placeholder="Votre nom">  
                </div>  
            </div>  
            <div class="control-group">  
                <label class="control-label" for="input2"></label>  
                <div class="controls">  
                    <input type="text" name="contact_email" id="input2" placeholder="Votre adresse email">  
                </div>  
            </div>  
            <div class="control-group">  
                <label class="control-label" for="input3"></label>  
                <div class="controls">  
                    <textarea name="contact_message" id="input3" rows="8" class="span5" placeholder="Votre message"></textarea>  
                </div>  
            </div>  
            <div class="form-actions">  
                <input type="hidden" name="save" value="contact">  
                <button class="btn btn-primary" type="submit">Envoyer <i class="icon-white icon-ok-sign"></i> </button>
            </div>  
        </form>  
          
    </div> 
    </div> 
{% include "EdeliSiteBundle::footer.inc.html.twig" %}
{% endblock %}