<footer> 
  <div class="footer">
    <div class="container">

    <div class="row">
      <div class="span3 offset2">
        <h4>Liens utiles</h4>
         <a href="http://www.ifma.fr/">IFMA</a>
         <br>
         <a href="http://www.mines-telecom.fr/">Institut Mines-Télécom</a>
      </div>
      <div class="span3">
        <h4>Copyright</h4>
        <p>Site créé par Clément MULLER
        <br>
        Email : clement.muller@ifma.fr
        <br>  
        Copyright © 2013
        <br>
        Version 2.1</p>
          
      </div>
      <div class="span2">
        <h4>Adresse</h4>
        <p>INSTITUT FRANCAIS DE MECANIQUE AVANCEE</p>
        <p>Campus de Clermont-Ferrand les Cézeaux 

        63175 AUBIERE Cedex</p>
      </div>
    </div>
  </div>  
  </div>
</footer>